:root {
    --primary-bg-color: #181818;
    --text-color: #585858;
    --link-color: #d9b871;
}
html{
    scroll-behavior: smooth;
}
.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 80px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li a{
    color: var(--text-color);
}
.sidebar ul li{

    transition: ease 0.3s;
    margin-bottom: 15px;
    cursor: pointer;
}
.sidebar ul li:hover{
    transform: scale(1.2);
    transition: ease 0.3s;   
}

.sections li{
    font-size: 1.6em;
}
.redes{
    font-size: 1.1em;
}
.redes a:hover,.sections a:hover{
    color: var(--link-color);
}
.sidebar i:hover{
    text-shadow: black  2px  1px 3px ;
} 
.idioma li:hover{
    text-shadow: black  2px  1px 3px ;
}

@media (max-width: 920px){
    .menu{
        display: flex;
        z-index: 9999;
    }
    .sidebar {
        display: flex;
        flex-direction: row;
        position: fixed;
        justify-content: space-around;
        align-items: center;
        width:100vw;
        height: 50px;
        border-radius: 10px 10px 0px 0px;
        background-color: var(--primary-bg-color);
        color: var(--text-color);
        bottom: 0px;
    }
    
    .sections{
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
    .content{
        position: relative;
        left: 20px;
        width: 85vw;
    }
    .idioma{
        display: flex;
        gap: 10px;
    }
    .redes{
        display: flex;
        gap: 10px;
    }
    .projetos{
        display: grid;
        align-items: center;
        margin: auto;
        grid-template-columns:0.4fr;
        gap: 25px;
    }
    .pj{
        width: 60.2vw;
    } 
    .pj img {
        width: 59.9vw;
      
    }
    #section1 h1{
        font-size: 3em;
    }
    .sobre p{
        margin-top: 15px;
        font-size: 1.5em;
    }
}