@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --cor-bg-tm-preto:#0f0f0f;
    --cor-text-tm-branco:#0d0d0d;
    --cor-bg-tm-branco:#ffffff;
    --cor-text-tm-preto:#ffff;
    --cor-linha:#eed33b;
    
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--cor-bg-tm-preto);
    color: var(--cor-text-tm-preto);
    position: relative;
    width: 80vw;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

.conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 200px;
}
.secao,.rodape{
    display: flex;    
}
.linha{
    width: 170px;
    margin-bottom: 10px;
    height: 2px;
    background-color: var(--cor-linha);
}
/* -----------------------------secao 1----------------------------- */
#secao1{
    display: flex;
    align-items: center; 
    height: 100vh;
}
.conteine_aprese{
    display: flex;
    justify-content: space-between;
}
.ap_eu{
    display: flex;
    justify-content: space-between;   
}

.apresentacao h2{
    font-size: 3em;
}
.apresentacao h1{
    font-size: 6em;
}
/* -----------------------------secao 2----------------------------- */
#secao2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#secao2 .h2_secao{
    margin-top: 40px;
    font-size: 3em;
    font-weight: 600;
}
.tecnologias_utilizo{
    display: flex;
    margin: auto;
    gap: 50px;
    margin-top: 50px;
    justify-content: space-between;
}
.tecnologia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
}
.tecnologia a{
    color: var(--cor-linha);
    text-decoration: none;
    transition: ease 0.3s;
}

#js i:hover{
    color: #EFD81D;
    transition: ease 0.3s;
}
#node i:hover{
    color: #8CBF3D;
    transition: ease 0.3s;
}
#react i:hover{
    color: #5ed3f3;
    transition: ease 0.3s;
}
.tecnologia a:hover{
    text-decoration: underline;
    transform: scale(1.01);
    transition: ease 0.3s;
    color: #ffff;
}
.tecnologia i{
    font-size: 5vw;
    transition: ease 0.3s;
}
#linhaH{
    border-right: 1px solid #ffffff;
    height: 1px solid #fff;
}
.tecnologia a i{
    font-size: 1em;
    margin-left: 10px;
}
/* -----------------------------secao 3----------------------------- */
#secao3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
#secao3 .h2_secao{
    margin-top: 40px;
    font-size: 3em;
    font-weight: 600;
}
.projetos{
    display: grid;
    justify-content: space-between;
    grid-template-columns:.4fr .4fr;
    justify-content: center;
    gap: 40px;
}

.pj{
    border: 1px solid var(--cor-text-tm-preto);
    width: 35.2vw;
    transition: ease 1.1s;
 
}
.pj:hover{
    transform: scale(1.02);
    transition: ease 1.1s;
}

.pj img {
    width: 35vw;

}
.pj a{
    color: var(--cor-linha); 
    transition: ease 1s;
}
.aria_projeto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor--tm-preto);
    gap: 20px;
    padding: 10px;
}

.aria_projeto a:hover{
    background-color: #181818;
    padding: 10px;
    border-radius: 10px 0px;
    transition: ease 1s;
    color: #ffffff;
}
.sobre_projeto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.type_pj{
    color: var(--cor-linha);
    font-size:0.9em ;
}
.name_pj{
    font-size: 1.2em;
    font-weight:300;
}
@media (max-width: 880px){
    .conteine_aprese{
        flex-direction: column;
        gap: 30px;
    }
    .tecnologias_utilizo{
        flex-direction: column;
    
    }
    .tecnologia{
        width: 100%;
    }
    .projetos{
        display: grid;
        justify-content: space-between;
        grid-template-columns:.4fr ;
        margin: auto;
        gap: 40px;
    }
    #linhaH{
        border: 1px solid #ffffff;
        width: 150px;
    }
    .pj{
        width: 45.3vw;
    }
    .pj img {
        width: 45vw;
    
    }
}