@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
    --primary-bg-color: #181818;
    --primary-color:#d9b871;
    --text-color: #585858;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
html{
    scroll-behavior: auto;
}


body {
    display: flex;
    background-image: url("../img/v1030-071.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    transition: ease 0.3s;   
    color: #fff;
}
.content{
    position: relative;
    left: 120px;
    width: 85vw;
}

/*-------------------------Secão 1-------------------------*/

#section1{
    display: flex;  
    height: 100vh;
    justify-content: center; 
    flex-direction: column;
}
#section1 h1{
    font-size: 4.5em;
}
.sobre{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sobre p{
    margin-top: 15px;
    font-size: 2em;
}
.text_c{
    font-size: 1.2em;
    color:  #ffffff;
    text-shadow: var(--primary-color) -5px 1px 1px ;
}

.btn_contato{
    margin-top: 50px;
}

.btn_contato button{
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    background-color: var(--primary-bg-color);
    border: solid var(--primary-color) 1px;
    font-size: 1.1em;
    color: #fff;
    transition: ease 0.3s;
}
.btn_contato button:hover{
    background-color: var(--primary-color);
    transition: ease 0.3s;
    transform: scale(1.1);
    box-shadow: #000000 -5px 5px 1px ;
}
/*-------------------------Secão 2-------------------------*/

#section2{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container_ferramentas{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 100px;
    justify-items: center;
}
.text_ferramenta h2{
    font-size: 2.2em;
}
.text_ferramenta{
    margin-top: 70px;
}
.ferramentas{
    font-size: 14vw;
    transition: ease 0.3s;
}
.ferramentas:hover{
    transition: ease 0.3s;
    transform: scale(1.1);
}
#javaS i:hover{
    color:#efd81d ;
    transform: scale(1.1);
}
#node i:hover{
    color:#94C745 ;
    transform: scale(1.1);
}
#react i:hover{
    color:#5ed3f3;
    transform: scale(1.1);
}

/*-------------------------Secão 3-------------------------*/
#section3{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 80px;
    margin-bottom: 60px;
}
#section3_h2{
    font-size: 2.3em;
}
.projetos{
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns:0.4fr 0.4fr;
    gap: 25px;
}

.pj{
    border: 1px solid var(--primary-color);
    border-radius: 10px 0px;
    width: 40.2vw;
    transition: ease 1.1s;
 
}
.pj:hover{
    transform: scale(1.02);
    transition: ease 1.1s;
}

.pj img {
    width: 40vw;
    border-radius: 10px 0px;
}
.pj a{
    color: #000000; 
    transition: ease 1s;
}
.aria_projeto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    gap: 20px;
    padding: 10px;
}

.aria_projeto a:hover{
    background-color: #181818;
    padding: 10px;
    border-radius: 10px 0px;
    transition: ease 1s;
    color: #ffffff;
}
.sobre_projeto{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}
.type_pj{
    color: #000000;
    font-size:0.9em ;
}
.name_pj{
    font-size: 1.1em;
}

/* ----------------------------------------section 4---------------------------------------- */
#section4{
    height: 100vh;
}